<%- layout ('layout/main') %>
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header">
                    <h5>
                    Datos de usuario
                    </h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6 offset-md-5 col-xs-10 offset-xs-6">
                            <% if (userLogged.avatar == "no_avatar") { %>
                                <img src="/img/avatar.png" alt="avatar" id="fotoAvatar">
                            <% } else { %>
                                <img src="userLogged.avatar" alt="avatar" id="fotoAvatar">
                            <% } %>
                        </div>
                    </div>
                        <div class="row">
                        <div class="col-md-6 offset-md-3">
                            <div class="form-group">
                                <p class="text-center h5">Correo Electrónico</p>
                                <input type="text" class="form-control-plaintext text-center h6" id="emailEditUserForm" value="<%= userLogged.email%>"readonly>
                            </div>
                            <div class="form-group">
                                <p class="text-center h5">Nombre</p>
                                <% if (userLogged.apellido == "") { %>
                                    <p class="text-center">No existen datos, por favor actualice sus datos.</p>
                                <% } else { %>
                                    <input type="text" class="form-control-plaintext text-center h6" id="nombreViewUserForm" value="<%= userLogged.nombre%>" readonly>
                                <% } %>
                            </div>
                            <div class="form-group">
                                <p class="text-center h5">Apellidos</p>
                                <% if (userLogged.apellido == "") { %>
                                    <p class="text-center">No existen datos, por favor actualice sus datos.</p>
                                <% } else { %>
                                <input type="text" class="form-control-plaintext text-center h6" id="apellidoViewUserForm" value="<%= userLogged.apellido%>" readonly>
                                <% } %>
                            </div>
                        </div>
                    </div>
                <div class="row">
                    <div class="col-sm-6 offset-sm-3 col-xs-12">
                    <button class="btn btn-primary btn-block" id="showModalEditUser" data-userid= <%= userLogged._id %> data-toggle="modal" data-target="#EditUserModal" >Actualizar datos</button>
                    </div>
                </div>
                    <!-- The Modal -->
                    <div class="modal fade" id="EditUserModal">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">

                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <h4 class="modal-title">Edición del perfil de usuario</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>

                                <!-- Modal body -->
                                <form action="#" method="POST" id="modalEditUserForm">
                                    <div class="modal-body">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-md-8 offset-md-2">
                                                    <div class="form-group">
                                                        <label for="email">Nombre <b>*</b></label>
                                                        <input type="text" class="form-control" id="nombreEditUserForm" value="<%= userLogged.nombre%>">
                                                        <div id="nombreEditUserFormError" class="errorField"></div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="email">Apellidos <b>*</b></label>
                                                        <input type="email" class="form-control" id="apellidoEditUserForm" value="<%= userLogged.apellido%>">
                                                        <div id="apellidoEditUserFormError" class="errorField"></div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="email">Avatar</label>
                                                        <input type="file" class="form-control" id="avatar">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-success" id="eventEditModalForm" data-userid= <%= userLogged._id %>>Actualizar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>