<%- layout ('layout/main') %>
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header">
                    <h5>
                    Datos de usuario
                    </h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <% if (user.avatar == "no_avatar") { %>
                                <img src="/img/avatar.png" alt="avatar">
                            <% } else { %>
                                <img src="user.avatar" alt="avatar">
                            <% } %>
                        </div>
                        <div class="col-md-8">
                            <p><b>Correo Electrónico </b><%= user.email %>
                            <p><b>Nombre </b>
                                    <% if (user.nombre == "") { %>
                            No existen datos, por favor actualice sus datos
                            <% } else { %>

                                    <%= user.nombre %>
                            <% } %>
                            </p>
                            <p><b>Apellidos </b>
                            <% if (user.apellido == "") { %>
                                No existen datos, por favor actualice sus datos
                            <% } else { %>
                                    <%= user.apellido %>
                            <% } %>
                            </p>
                        </div>
                    </div>
                <div class="float-lg-right">
                    <button class="btn btn-primary" id="showModalEditUser" data-userid= <%= user._id %> data-toggle="modal" data-target="#EditUserModal" >Actualizar datos</button>
                </div>
                    <!-- The Modal -->
                    <div class="modal fade" id="EditUserModal">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">

                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <h4 class="modal-title">Edición del perfil de usuario</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>

                                <!-- Modal body -->
                                <form action="#" method="POST" id="modalEditUserForm">
                                    <div class="modal-body">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-md-8 offset-md-2">
                                                    <div class="form-group">
                                                        <label for="email">Nombre <b>*</b></label>
                                                        <input type="text" class="form-control" id="nombreEditUserForm" value="<%= user.nombre%>">
                                                        <div id="nombreEditUserFormError" class="errorField"></div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="email">Apellidos <b>*</b></label>
                                                        <input type="email" class="form-control" id="apellidoEditUserForm" value="<%= user.apellido%>">
                                                        <div id="apellidoEditUserFormError" class="errorField"></div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="email">Avatar</label>
                                                        <input type="file" class="form-control" id="avatar">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-success" id="eventEditModalForm" data-userid= <%= user._id %>>Actualizar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>